# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Main"

on:
  push:
    tags: ["*"]
    branches: ["*"]
  pull_request:
    branches: ["*"]
  workflow_dispatch:

permissions: {}

jobs:
  gofmt:
    name: "Run gofmt"
    runs-on: "ubuntu-latest"
    permissions:
      contents: "read"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd"
      - name: "Get Go version"
        id: "go-version"
        uses: "./.github/actions/go-version"
      - name: "Set up Go"
        uses: "actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5"
        with:
          go-version: "${{ steps.go-version.outputs.version }}"
          check-latest: true
      - name: "Run gofmt"
        run: |
          make gofmt

  gosec:
    name: "Run gosec"
    runs-on: "ubuntu-latest"
    permissions:
      actions: "read"
      contents: "read"
      security-events: "write"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd"
      - name: "Get Go version"
        id: "go-version"
        uses: "./.github/actions/go-version"
      - name: "Set up Go"
        uses: "actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5"
        with:
          go-version: "${{ steps.go-version.outputs.version }}"
          check-latest: true
      - name: "Install gosec"
        run: |
          go install github.com/securego/gosec/v2/cmd/gosec@latest
      - name: "Run gosec"
        run:
          make gosec

  staticcheck:
    name: "Run staticcheck"
    runs-on: "ubuntu-latest"
    permissions:
      contents: "read"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd"
      - name: "Get Go version"
        id: "go-version"
        uses: "./.github/actions/go-version"
      - name: "Set up Go"
        uses: "actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5"
        with:
          go-version: "${{ steps.go-version.outputs.version }}"
          check-latest: true
      - name: "Install staticcheck"
        run: |
          go install honnef.co/go/tools/cmd/staticcheck@latest
      - name: "Run staticcheck"
        run: |
          make staticcheck

  test:
    name: "Test on ${{ matrix.os }}"
    needs: ["gofmt", "gosec", "staticcheck"]
    runs-on: "${{ matrix.os }}"
    permissions:
      contents: "read"
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
    steps:
      - name: "Checkout"
        uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd"
      - name: "Get Go version"
        id: "go-version"
        uses: "./.github/actions/go-version"
      - name: "Set up Go"
        uses: "actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5"
        with:
          go-version: "${{ steps.go-version.outputs.version }}"
          check-latest: true
      - name: "Test"
        run: |
          make test
        env:
          CGO_ENABLED: "1"
      - name: "Test (race)"
        run: |
          make test-race
        env:
          CGO_ENABLED: "1"

  test-e2e:
    name: "Test e2e"
    needs: ["gofmt", "gosec", "staticcheck"]
    runs-on: "ubuntu-24.04"
    permissions:
      contents: "read"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd"
      - name: "Get Go version"
        id: "go-version"
        uses: "./.github/actions/go-version"
      - name: "Set up Go"
        uses: "actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5"
        with:
          go-version: "${{ steps.go-version.outputs.version }}"
          check-latest: true
      - name: "Test e2e"
        run: |
          make test-e2e

  build:
    name: >-
      Build for
      ${{ matrix.go.GOOS }}-${{ matrix.go.GOARCH }}
      ${{ matrix.go.GOARM != '' && format('v{0}', matrix.go.GOARM) || '' }}
    needs: ["test", "test-e2e"]
    runs-on: "ubuntu-latest"
    permissions:
      attestations: "write"
      contents: "read"
      id-token: "write"
    strategy:
      fail-fast: false
      matrix:
        go:
          - { GOOS: "linux", GOARCH: "amd64" }
          - { GOOS: "linux", GOARCH: "arm64" }
          - { GOOS: "linux", GOARCH: "arm", GOARM: "7" }
          - { GOOS: "linux", GOARCH: "arm", GOARM: "6" }
          - { GOOS: "linux", GOARCH: "riscv64" }
          - { GOOS: "linux", GOARCH: "ppc64le" }
          - { GOOS: "linux", GOARCH: "s390x" }
          - { GOOS: "linux", GOARCH: "loong64" }
          - { GOOS: "windows", GOARCH: "amd64" }
          - { GOOS: "windows", GOARCH: "arm64" }
          - { GOOS: "darwin", GOARCH: "amd64" }
          - { GOOS: "darwin", GOARCH: "arm64" }
    steps:
      - name: "Checkout"
        uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd"
        with:
          filter: "blob:none"
          fetch-depth: 0
      - name: "Set SOURCE_DATE_EPOCH"
        run: printf 'SOURCE_DATE_EPOCH=%s\n' "$(git log -1 --format=%ct)" >> "${GITHUB_ENV:?}"
      - name: "Get Go version"
        id: "go-version"
        uses: "./.github/actions/go-version"
      - name: "Set up Go"
        uses: "actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5"
        with:
          go-version: "${{ steps.go-version.outputs.version }}"
          check-latest: true
      - name: "Build"
        run: |
          make build \
            GOOS="${{ matrix.go.GOOS }}" \
            GOARCH="${{ matrix.go.GOARCH }}" \
            GOARM="${{ matrix.go.GOARM }}"
          file ./dist/* && gzip -nv ./dist/*
      - name: "Generate artifact attestation"
        uses: "actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f"
        with:
          subject-path: "./dist/*.gz"
      - name: "Upload artifact"
        uses: "actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f"
        with:
          name: "dist-${{ matrix.go.GOOS }}-${{ matrix.go.GOARCH }}-${{ matrix.go.GOARM }}"
          path: "./dist/*.gz"
          retention-days: 1

  build-push-docker:
    name: "Build and push Docker images"
    needs: ["build"]
    runs-on: "ubuntu-latest"
    permissions:
      contents: "read"
      packages: "write"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd"
        with:
          filter: "blob:none"
          fetch-depth: 0
      - name: "Set SOURCE_DATE_EPOCH"
        run: printf 'SOURCE_DATE_EPOCH=%s\n' "$(git log -1 --format=%ct)" >> "${GITHUB_ENV:?}"
      - name: "Set up Docker Buildx"
        uses: "hectorm/ghaction-docker-buildx-setup@fec3efdbb455c2aa58a4fbfd11a9853f5de2cdba"
      - name: "Login to GitHub Container Registry"
        if: "github.event_name != 'pull_request'"
        uses: "docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9"
        with:
          registry: "ghcr.io"
          username: "${{ github.actor }}"
          password: "${{ secrets.GITHUB_TOKEN }}"
      - name: "Login to Docker Hub"
        if: "github.event_name != 'pull_request'"
        uses: "docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9"
        with:
          registry: "docker.io"
          username: "${{ secrets.DOCKERHUB_USERNAME }}"
          password: "${{ secrets.DOCKERHUB_TOKEN }}"
      - name: "Extract metadata"
        id: "meta"
        uses: "docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051"
        with:
          images: |
            ghcr.io/${{ github.repository }}
            docker.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=semver,pattern=v{{version}}
            type=semver,pattern=v{{major}}.{{minor}}
            type=semver,pattern=v{{major}}
          labels: |
            org.opencontainers.image.created={{commit_date 'YYYY-MM-DDTHH:mm:ss.SSS[Z]' tz='UTC'}}
      - name: "Build and push"
        uses: "hectorm/ghaction-docker-buildx-build@cc28557c639a7ccb0dbe0d57a8afd6c381eb38f9"
        with:
          context: "./"
          platforms: |
            linux/amd64
            linux/arm64/v8
            linux/arm/v7
            linux/arm/v6
            linux/riscv64
            linux/ppc64le
            linux/s390x
            linux/loong64
          tags: "${{ steps.meta.outputs.tags }}"
          labels: "${{ steps.meta.outputs.labels }}"
          extra-args: |
            --build-arg=SOURCE_DATE_EPOCH=${{ env.SOURCE_DATE_EPOCH }}
            --output=type=image,push=${{ github.event_name != 'pull_request' }},rewrite-timestamp=true
            --provenance=mode=max,reproducible=true
            --sbom=true

  publish-github-release:
    name: "Publish GitHub release"
    if: "startsWith(github.ref, 'refs/tags/v')"
    needs: ["build", "build-push-docker"]
    runs-on: "ubuntu-latest"
    permissions:
      contents: "write"
    steps:
      - name: "Download artifacts"
        uses: "actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131"
        with:
          pattern: "dist-*"
          merge-multiple: true
          path: "assets"
      - name: "Publish"
        uses: "hectorm/ghaction-release@d0426a7a369ce2c1ed615e1a583788b22745ccfe"
        with:
          assets-path: "./assets/"
