# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Code security analysis"

on:
  push:
    tags: ["*"]
    branches: ["*"]
  pull_request:
    branches: ["*"]
  schedule:
    - cron: "25 10 * * 3"
  workflow_dispatch:

permissions: {}

jobs:
  analyze-codeql:
    name: "CodeQL analysis (${{ matrix.language }})"
    runs-on: "ubuntu-latest"
    permissions:
      actions: "read"
      contents: "read"
      security-events: "write"
    strategy:
      fail-fast: false
      matrix:
        language: ["go"]
    steps:
      - name: "Checkout"
        uses: "actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683"
      - name: "Set up Go"
        uses: "actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5"
        with:
          go-version-file: "./go.mod"
          check-latest: true
      - name: "Initialize CodeQL"
        uses: "github/codeql-action/init@181d5eefc20863364f96762470ba6f862bdef56b"
        with:
          languages: "${{ matrix.language }}"
      - name: "Autobuild"
        uses: "github/codeql-action/autobuild@181d5eefc20863364f96762470ba6f862bdef56b"
      - name: "Perform CodeQL analysis"
        uses: "github/codeql-action/analyze@181d5eefc20863364f96762470ba6f862bdef56b"

  analyze-gosec:
    name: "Gosec analysis"
    runs-on: "ubuntu-latest"
    permissions:
      actions: "read"
      contents: "read"
      security-events: "write"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683"
      - name: "Set up Go"
        uses: "actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5"
        with:
          go-version-file: "./go.mod"
          check-latest: true
      - name: "Perform Gosec analysis"
        uses: "securego/gosec@d2d3ae66bd8d340b78b5142b6fe610691783c2fe"
        with:
          args: "-no-fail -tests -fmt sarif -out ./results.sarif ./..."
      - name: "Upload SARIF file"
        uses: "github/codeql-action/upload-sarif@181d5eefc20863364f96762470ba6f862bdef56b"
        with:
          sarif_file: "./results.sarif"
